#kk{
  list-style: none;
  margin: 0;
  padding: 0;
  background: #283643;
  width: 12rem;
  margin-bottom: 0;
  position: fixed;
  top: 3.5rem;
  bottom: 0;
}
#kk li{
  height: 3rem;
  text-align: left;
  line-height: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
#kk li a{
  color: #fff;
}
#kk li:hover{
  background: #3c4248;
}
.ccc{
  margin: 0;
  padding: 0;
  position: fixed;
  top:3.5rem;
  bottom: 0;
  left: 12rem;
  right: 0;
}
.activee{
  background: #3c4248;
}
.io{
  height: 3rem;
  color: #6c757d;
  border-bottom: 2px solid #e9ecef;
}